.customButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.customButton:hover {
  opacity: 0.8;
}
.customButton:active {
  border: none;
}
.customButton:focus {
  outline: none;
}
