.forecastContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem auto;
  padding: 1rem;
}

.dayCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: var(--input-border);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  gap: 0.2rem;
  padding: 0.2rem;
}

.dayCard:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.date {
  font-weight: bold;
  color: var(--card-text);
  margin: 0;
}

.icon {
  justify-self: center;
  color: var(--card-icon);
}

.temps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  color: var(--card-text);
}
